
<mat-card>
  <mat-card-title><p>Form Trạng thái</p></mat-card-title>
  <form [formGroup]="formDetail" (ngSubmit)="onSubmit()" class="mat-form">
    <input type="hidden" formControlName="id" />
    <mat-form-field class="mat-full-width">
      <mat-label> Tên </mat-label>
    <input formControlName="status" matInput />
    </mat-form-field>
    <div class="mat-full-width">
      <button type="submit" [disabled]="!formDetail.valid" mat-raised-button color="primary">
        <mat-icon>done</mat-icon> Lưu
      </button>
      <button type="button" routerLink="/task-status"  mat-raised-button >
        <mat-icon>undo</mat-icon>Quay lại</button>
      </div>
  </form>
</mat-card>
