<mat-card>
  <mat-card-title>
    <p>Form Liên hệ</p>
  </mat-card-title>
  <form [formGroup]="formDetail" (ngSubmit)="onSubmit()" class="mat-form">
    <input type="hidden" formControlName="uuid" />
    <mat-form-field class="mat-full-width">
      <mat-label> Xưng hô </mat-label>
      <input formControlName="contactTitle" matInput />
    </mat-form-field>
    <mat-form-field class="mat-full-width">
      <mat-label> Họ </mat-label>
      <input formControlName="firstName" matInput />
    </mat-form-field>
    <mat-form-field class="mat-full-width">
      <mat-label> Đệm</mat-label>
      <input formControlName="middleName" matInput />
    </mat-form-field>
    <mat-form-field class="mat-full-width">
      <mat-label> Tên </mat-label>
      <input formControlName="lastName" matInput />
    </mat-form-field>
    <mat-form-field class="mat-full-width">
      <mat-label> Nguồn </mat-label>
      <input formControlName="leadReferralSource" matInput />
    </mat-form-field>
    <mat-form-field class="mat-full-width">
      <mat-label> Tiêu đề </mat-label>
      <input formControlName="title" matInput />
    </mat-form-field>
    <mat-form-field class="mat-full-width">
      <mat-label> Công ty </mat-label>
      <input formControlName="company" matInput />
    </mat-form-field>
    <mat-form-field class="mat-full-width">
      <mat-label> Ngành hàng </mat-label>
      <input formControlName="industry" matInput />
    </mat-form-field>
    <mat-form-field class="mat-full-width">
      <mat-label> Địa chỉ 1 </mat-label>
      <input formControlName="address1" matInput />
    </mat-form-field>
    <mat-form-field class="mat-full-width">
      <mat-label> Địa chỉ 2 </mat-label>
      <input formControlName="address2" matInput />
    </mat-form-field>
    <mat-form-field class="mat-full-width">
      <mat-label> Điện thoại </mat-label>
      <input formControlName="phone" matInput />
    </mat-form-field>
    <mat-form-field class="mat-full-width">
      <mat-label> Email </mat-label>
      <input formControlName="email" matInput />
    </mat-form-field>
    <mat-form-field class="mat-full-width">
      <mat-label> Website </mat-label>
      <input formControlName="website" matInput />
    </mat-form-field>
    <div class="mat-full-width">
      <button type="submit" [disabled]="!formDetail.valid" mat-raised-button color="primary">
        <mat-icon>done</mat-icon> Lưu
      </button>
      <button type="button" routerLink="/contact" mat-raised-button>
        <mat-icon>undo</mat-icon>Quay lại
      </button>
    </div>
  </form>
</mat-card>
