<div>
  <mat-toolbar color="primary">
    <div fxShow="true" fxHide.gt-sm="true">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </div>

    <a mat-button class="companyName" routerLink="/">
      <span>Site name</span>
    </a>
    <span class="example-spacer"></span>
    <div fxShow="true" fxHide.lt-md="true">
      <a mat-button routerLink="/" routerLinkActive="router-link-active">Dashboard</a>
      <a mat-button routerLink="/task-status" routerLinkActive="router-link-active">Task status</a>
      <a mat-button routerLink="/start-page">Start page</a>
      <a mat-button routerLink="/contact" routerLinkActive="router-link-active">Contact</a>

      <a mat-button (click)="logout()">Đăng xuất</a>

    </div>

  </mat-toolbar>
  <mat-sidenav-container fxFlexFill class="example-container">

    <mat-sidenav color="primary" #sidenav fxLayout="column" mode="over"  opened="false" fxHide.gt-sm="true">
      <div fxLayout="column">
        <a mat-button routerLink="/dashboard" routerLinkActive="router-link-active">Dashboard</a>
        <a mat-button routerLink="/task-status" routerLinkActive="router-link-active">Task status</a>
        <a mat-button routerLink="/start-page" routerLinkActive="router-link-active">Start page</a>
        <a mat-button routerLink="/contact" routerLinkActive="router-link-active">Contact</a>
        <a mat-button (click)="logout()" >Đăng xuất</a>

      </div>
    </mat-sidenav>
    <mat-sidenav-content fxFlexFill>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
