<mat-card>
  <mat-card-title>
    <p>Danh sách Liên hệ</p>
  </mat-card-title>
  <mat-form-field  style="align-content: right;">
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Lọc theo ...">
</mat-form-field>
  <mat-table [dataSource]="dataSource" class="mat-elevavtion-z8">
    <!-- Position Column -->
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.uuid}} </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="contactTitle">
      <mat-header-cell *matHeaderCellDef> Xưng hô </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.contactTitle}} </mat-cell>
    </ng-container>
    <!-- Name Column -->
    <ng-container matColumnDef="company">
      <mat-header-cell *matHeaderCellDef> Công ty </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.company}} </mat-cell>
    </ng-container>

    <!-- Function Column -->
    <ng-container matColumnDef="function">
      <mat-header-cell *matHeaderCellDef> <button mat-flat-button color="primary" routerLink="/contact/form">
          <mat-icon>add</mat-icon> Thêm mới
        </button> </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <button mat-flat-button color="accent" routerLink="/contact/form" [queryParams]="{uuid:element.uuid}">
          <mat-icon>edit</mat-icon> Sửa<a href="http://" target="_blank" rel="noopener noreferrer"></a>
        </button> -
        <button mat-flat-button color="warn" (click)="delete(element.uuid)">
          <mat-icon>delete</mat-icon> Xóa
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  <mat-paginator [pageSizeOptions]="pageSizeOptions">
  </mat-paginator>

</mat-card>
