
<mat-card>
  <mat-card-title><p>Danh sách Trạng thái</p></mat-card-title>
  <mat-form-field  style="align-content: right;">
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Lọc theo ...">
</mat-form-field>
  <mat-table [dataSource]="dataSource" class="mat-elevavtion-z8">
    <!-- Position Column -->
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef> Id. </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="status">
      <mat-header-cell *matHeaderCellDef> Tên </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.status}} </mat-cell>
    </ng-container>

    <!-- Function Column -->
    <ng-container matColumnDef="function">
      <mat-header-cell *matHeaderCellDef> <button mat-flat-button color="primary" routerLink="/task-status/form">
        <mat-icon>add</mat-icon> Thêm mới</button> </mat-header-cell>
      <mat-cell *matCellDef="let element" >
        <button mat-flat-button color="accent" routerLink="/task-status/form" [queryParams]="{id:element.id}">
          <mat-icon>edit</mat-icon> Sửa</button> -
        <button mat-flat-button color="warn" (click)="delete(element.id)" >
          <mat-icon>delete</mat-icon> Xóa</button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  <mat-paginator
                  [pageSizeOptions]="pageSizeOptions"
                  >
                </mat-paginator>

</mat-card>
