<%- include('./../header') -%>

<!-- Page Heading -->
<h1 class="h3 mb-4 text-gray-800">Danh mục sản phẩm</h1>

<div class="row">

  <div class="col-lg-12">

    <!-- BEGIN FORM -->
    <form method="POST" action="/category/save" enctype="multipart/form-data">
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Form</h6>
      </div>
      <div class="card-body">
      
        <div class="row">
          <div class="col-md-6 col-md-offset-3">
            <input type="hidden" value="<%= entity.id %>" name="id" />
            <div class="form-group">
              <label for="fname" class="control-label">Tên</label>
              <input type="text" class="form-control" value="<%= entity.name %>" name="name" id="fname"/>
            </div>
            <div class="form-group">
              <label for="fdescription" class="control-label">Mô tả</label>
              <input type="text" class="form-control" value="<%= entity.description %>" name="description" id="fdescription"/>
            </div>
            
          <div class="form-group">
            <input type="file" name="fileimage" class="form-control" />
            <% if(entity.image){
              %>
              <img src="<%= entity.image %>" class="img"  width="200px" />
              <%
            } %>
          </div>
          </div>
          
        </div>
     
      </div>
      <div class="card-footer">
        <button type="submit" class="btn btn-primary"><i class="fa fa-save" ></i> Lưu</button>
        <a href="/category" class="btn btn-info"><i class="fa fa-undo" ></i> Quay lại</a>
      </div>
    </div>
  </form>
  <!-- END FORM -->

</div>

<%- include('./../footer') -%>