<%- include('../header') -%>
<!-- Page Heading -->
<h1 class="h3 mb-4 text-gray-800">Danh mục sản phẩm</h1>

<div class="row">

  <div class="col-lg-12">

    <!-- Circle Buttons -->
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Danh sách</h6>
      </div>
      <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" width="100%" cellspacing="0">
              <thead>
                <tr>
                  <th>Tên</th>
                  <th>Mô tả</th>
                 <th class="text-center">Hình ảnh</th>
                  <th class="text-center" width="200px"><a href="/category/form" class="btn btn-success"><i class="fa fa-plus"></i> Thêm mới</a></th>
                </tr>
              </thead>
              <tbody>
                <% for(let entity of categories) { %>
                <tr>
                  <td><%= entity.name%></td>
                  <td><%= entity.description %></td>
                  <td class="text-center"><% if(entity.image){
                    %>
                    <img src="<%= entity.image %>" class="rounded-circle" width="100px"/>
                    <%
                  } %></td>
                  <td  class="text-center">
                    <a href="/category/form/<%= entity.id %>" class="btn btn-primary"><i class="fa fa-edit"></i>Sửa</a>
                    <a href="/category/delete/<%= entity.id %>" class="btn btn-danger"><i class="fa fa-trash"></i> Xóa</a>
                  </td>
                </tr>
                <% } %>
              </tbody>
            </table>
          </div> 
       
      </div>
    </div>


</div>

<%- include('../footer') -%>