<%- include('./../header') -%>

<!-- Page Heading -->
<h1 class="h3 mb-4 text-gray-800">Danh mục sản phẩm</h1>

<div class="row">

  <div class="col-lg-12">

    <!-- BEGIN FORM -->
    <form method="POST" action="/product/save" enctype="multipart/form-data">
      <input type="hidden" value="<%= entity.id %>" name="id" />
      <div class="card shadow mb-4">
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">Form</h6>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="fname" class="control-label">Tên</label>
                <input type="text" class="form-control" value="<%= entity.name %>" name="name" id="fname" />
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="fprice" class="control-label">Gía</label>
                <input type="number" class="form-control" name="price" value="<%= entity.price %>" />
              </div>
            </div>
            
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="fname" class="control-label">Danh mục</label>
                <select class="form-control" name="category_id">
                  <% for(let c of categories) {%>
                    <option value="<%= c.id%>" <%= entity.category_id== c.id ? 'selected': '' %>><%= c.name %> </option> 
                  <% } %>
                  
                </select>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="fname" class="control-label">Trạng thái</label>
                <select class="form-control" name="status">
                  <option value="0" <%= entity.status== 0 ? 'selected': '' %>>Còn hàng </option> 
                  <option value="1" <%= entity.status== 1 ? 'selected': '' %>>Hết hàng </option>
                </select>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label for="fdescription" class="control-label">Mô tả</label>
                <textarea class="form-control tinymce" rows="18" name="description"><%= entity.description%></textarea>
              </div>

              
            </div>
          </div>

          <div class="row">
           
            <div class="col-md-12">
              <div class="form-group">
                <input type="file" name="fileimage" class="form-control" />
                <% if(entity.image){
              %>
                <img src="<%= entity.image %>" class="img" width="200px" />
                <%
            } %>
              </div>
            </div>
          </div>

        </div>
        <div class="card-footer text-right">
          <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> Lưu</button>
          <a href="/product" class="btn btn-info"><i class="fa fa-undo"></i> Quay lại</a>
        </div>
      </div>
    </form>
    <!-- END FORM -->

  </div>

  <%- include('./../footer') -%>