/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

mat-card{
  width: 80%;
  margin: auto;
  margin-top: 30px;
}

.mat-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  margin: auto;
}
.mat-form-login{
  min-width: 150px;
  max-width: 500px;
  width: 50%;
  margin: auto;

}

.mat-full-width {
  width: 100%;
}
