<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">

  <mat-card class="box">
    <mat-card-header>
      <mat-card-title><p>Log in</p></mat-card-title>
    </mat-card-header>

    <form [formGroup]="formLogin" (ngSubmit)="onSubmit()" class="mat-form-login">
      <mat-card-content>
        <mat-form-field class="mat-full-width">
          <input matInput placeholder="Tên đăng nhập" formControlName="username" #username autocomplete="false">
          <mat-error>
            <!-- <span *ngIf="formLogin.controls['username'].invalid && (formLogin.controls['username'].dirty || formLogin.controls['username'].touched )" class="invalid-feedback">
              <span *ngIf="formLogin.controls['username'].errors.required" style="color: red">Yêu cầu nhập tên đăng nhập</span>
            </span> -->
          </mat-error>
        </mat-form-field>


        <mat-form-field class="mat-full-width">
          <input matInput placeholder="Mật khẩu" formControlName="password" #password autocomplete="false">
          <mat-error>
            <!-- <span *ngIf="formLogin.controls['password'].invalid && (formLogin.controls['password'].dirty || formLogin.controls['password'].touched )" class="invalid-feedback">
              <span *ngIf="formLogin.controls['password'].errors.required" style="color: red">Yêu cầu nhập tên đăng nhập</span>
            </span> -->
          </mat-error>
        </mat-form-field>
      </mat-card-content>
      <button type="submit" mat-raised-button color="primary"
      >Log in</button>
    </form>
  </mat-card>

</div>
